YT_API_KEY=your_youtube_api_key_here
TWITCH_CLIENT_SECRET=your_twitch_api_key_here
TWITCH_CLIENT_ID=your_twitch_client_id_here
YT_PLAYLIST_ID=your_youtube_playlist_id_here
YT_API_URL=your_youtube_api_url_here
YT_CHANNEL_ID=your_youtube_channel_id_here
YT_API_KEY=your_youtube_api_key_here
NEXT_PUBLIC_API_URL=your_api_url_here
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here