@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #F2E8E7;
  --foreground: #171717;
} */

:root {
  --background: #0a0a0a;
  --foreground: #F2E8E7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F2E8E7;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body#privacy-policy ul, body#legal-notice ul{
  list-style: disc;
  padding-left: 25px;
}
