@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #F2E8E7;
  --foreground: #171717;
} */

:root {
  --background: #0a0a0a;
  --foreground: #F2E8E7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F2E8E7;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body#privacy-policy ul, body#legal-notice ul{
  list-style: disc;
  padding-left: 25px;
}
#bodyNotFound{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 99;
}
#bodyNotFound h1{
  font-size: 34px;
  margin: 1em auto;
}
#bodyNotFound a{
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #a43046;
  color: white;
  display: block;
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
#bodyNotFound a:hover{
  background-color: white;
  color: black;
}
#bodyNotFound .heart{
  width: 160px;
  height: 160px;
}
#activate .underline{
  text-decoration: underline;
}
